/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@400;700&display=swap");

html,
body {
	height: 100%;
}
body {
	font-family: "Signika", sans-serif;
	background-color: #262835;
	margin: 0;
}
